<?xml version="1.0"?>
<config>
  <modules>
    <Ifthenpay_Mbway>
      <version>1.0.0</version>
    </Ifthenpay_Mbway>
  </modules>
  <frontend>
    <routers>
      <mbway>
        <use>standard</use>
        <args>
          <module>Ifthenpay_Mbway</module>
          <frontName>mbway</frontName>
        </args>
      </mbway>
    </routers>
    <translate>
      <modules>
        <Ifthenpay_Mbway>
          <files>
            <default>Ifthenpay_Mbway.csv</default>
          </files>
        </Ifthenpay_Mbway>
      </modules>
    </translate>
  </frontend>
  <adminhtml>
    <translate>
      <modules>
        <Ifthenpay_Mbway>
          <files>
            <default>Ifthenpay_Mbway.csv</default>
          </files>
        </Ifthenpay_Mbway>
      </modules>
    </translate>
  </adminhtml>  
  <global>
    <fieldsets>
      <sales_convert_quote_payment>
        <mbway_phone>
          <to_order_payment>*</to_order_payment>
        </mbway_phone>
      </sales_convert_quote_payment>
    </fieldsets>   
    <helpers>
      <mbway>
        <class>Ifthenpay_Mbway_Helper</class>
      </mbway>
    </helpers>
    <blocks>
      <mbway>
        <class>Ifthenpay_Mbway_Block</class>
      </mbway>
    </blocks>
    <models>
      <mbway>
        <class>Ifthenpay_Mbway_Model</class>
      </mbway>
    </models>
    <resources>
      <mbway_setup>
        <setup>
          <module>Ifthenpay_Mbway</module>
        </setup>
      </mbway_setup>
      <ifmb_write>
        <connection>
          <use>core_write</use>
        </connection>
      </ifmb_write>
      <ifmb_read>
        <connection>
          <use>core_read</use>
        </connection>
      </ifmb_read>
    </resources>
  </global>
  <default>
    <payment>
			<mbway>
				<active>0</active>
				<model>mbway/mbway</model>
				<title>Mbway</title>
				<sort_order>1</sort_order>
				<order_status>pending</order_status>
				<allowspecific>1</allowspecific>
        <specificcountry>PT</specificcountry>
				<mbwaykey></mbwaykey>
				<mensagem>Pagamento por Mbway</mensagem>
				<payment_action>order</payment_action>
				<active_callback>0</active_callback>
			</mbway>
    </payment>
  </default>
</config>