<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="MbWayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Ifthenpay\MbWay\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Ifthenpay\MbWay\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">MbWayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">MbWayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">MbWayValidatorPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="MbWayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Ifthenpay\MbWay\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with MbWayConfig -->
    <virtualType name="MbWayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">MbWayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Ifthenpay\MbWay\Gateway\Http\Client\Client">
        <arguments>
            <argument name="logger" xsi:type="object">MbWayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="MbWayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">MbWayAuthorizeCommand</item>
                <item name="void" xsi:type="string">MbWayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="MbWayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">MbWayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">MbWayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Ifthenpay\MbWay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Ifthenpay\MbWay\Gateway\Http\Client\Client</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="MbWayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Ifthenpay\MbWay\Gateway\Request\AuthorizationRequest</item>
                <item name="data" xsi:type="string">Ifthenpay\MbWay\Gateway\Request\DataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Ifthenpay\MbWay\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">MbWayConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="MbWayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="handler" xsi:type="object">Ifthenpay\MbWay\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Ifthenpay\MbWay\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Ifthenpay\MbWay\Gateway\Http\Client\Client</argument>
        </arguments>
    </virtualType>


    <!-- Response handlers -->
    <virtualType name="MbWayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Ifthenpay\MbWay\Gateway\Response\TxnIdHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="MbWayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">MbWayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MbWayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">MbWayConfig</argument>
        </arguments>
    </virtualType>
    <type name="Ifthenpay\MbWay\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">MbWayConfig</argument>
        </arguments>
    </type>
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Ifthenpay\MbWay\Block\Checkout\Onepage\Success\Response"/>

    <!-- avoid order duplication Email -->
    <type name="Magento\Sales\Model\Order\Email\Container\OrderIdentity">
        <plugin name="change_is_enable_method" type="Ifthenpay\MbWay\Plugin\Sales\Order\Email\Container\OrderIdentityPlugin"/>
    </type>

    <virtualType name="MbWayValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
    <arguments>
        <argument name="validators" xsi:type="array">
            <item name="country" xsi:type="string">Ifthenpay\MbWay\Gateway\Validator\CountryValidator</item>
        </argument>
    </arguments>
</virtualType>

</config>
